body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: gray;
}

#settings-btn {
	margin-top: 1.2em;
}

#content {
	height: 80%;
	min-height: 650px;
}

.room h3 {
	white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.log {
  background: inherit;
  margin: 0;
  padding: 0 0.5em;
  overflow-y: auto;
	overflow-x: hidden;
	height: 500px;
}

.chat.panel {
	background-color: white;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
	padding: 0.5em;
	margin-bottom: 0.25em;
}

.chat.panel hr {
	margin: 0.5em 0;
}

.msg {
	clear: both;
}

.msg img {
	display: block;
	float: left;
	height: 40px;
	width: 40px;
	margin-right: 5px;
}

.msg-body {
	padding-bottom: 0.25em;
	overflow: hidden;
}

.chat.error.panel {
	color: red;
}

#chatroom-column h3 {
	text-align: center;
}

#roombox {
	padding-bottom: 0.4375em;
	margin-bottom: 0.4375em;
	border-bottom: 1px solid #e6e6e6;
}

.userbtn:before,
.userbtn:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.userbtn:after {
    clear: both;
}

.roombtn,
.userbtn {
	display: block;
	box-sizing: content-box;
	padding: 5px;
	border: 1px solid #d9d9d9;
	border-left: none;
	border-bottom: none;
	margin-left: -31px;
	padding-left: 31px;
  *zoom: 1;
	height: 40px;
	line-height: 40px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.userbtn img {
	float: left;
	height: 40px;
	width: 40px;
	margin-right: 5px;
}

.userbtn .name {
	font-size: .8em;
	height: 40px;
}

.userbtn:last-child,
.roombtn:last-child {
	border-bottom: 1px solid #d9d9d9;
}

#chatroom-column .active {
	background: #f2f2f2;
}

#msg {
	height: auto;
}

#form button {
	float: right;
	margin-bottom: 0;
	margin-left: 20px;
}

.error {
	color: red;
}
