body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: gray;
}

.log {
  background: inherit;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 0.5em;
  top: 0.5em;
  left: 0.5em;
  right: 0.5em;
  bottom: 3em;
	height: 450px;
  overflow-y: auto;
	overflow-x: hidden;
}

#chatroom-column h3 {
	text-align: center;
}

#userbox div {
	padding: 10px 0;
	border: 1px solid #d9d9d9;
	border-left: none;
	border-bottom: none;
	margin-left: -31px;
	padding-left: 31px;
	text-align: center;
}

#userbox div:last-child {
	border-bottom: 1px solid #d9d9d9;
}

#userbox li.active div {
	position: relative;
	background: #f2f2f2;
}

#msg {
	height: auto;
}

#form button {
	float: right;
	margin-bottom: 0;
	margin-left: 20px;
}

.error {
	color: red;
}
