body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: gray;
}

#log {
  background: inherit;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 0.5em;
  top: 0.5em;
  left: 0.5em;
  right: 0.5em;
  bottom: 3em;
	height: 500px;
  overflow-y: auto;
	overflow-x: hidden;
}

.error {
	color: red;
}

#form {
  padding: 0 0.5em 0 0.5em;
  margin: 0;
  bottom: 1em;
  left: 0px;
  width: 100%;
  overflow: hidden;
}
